version: '3.7'
services:

  minio:
    hostname: minio
    image: 'minio/minio:latest'
    container_name: minio
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio-data:/data
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    command: server /data --console-address ":9001"
    networks:
      - lakehouse

  postgres:
    build:
      context: postgres
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-U", "hive", "-d", "metastore_db" ]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    environment:
      - POSTGRES_USER=hive
      - POSTGRES_PASSWORD=hive123
      - POSTGRES_DB=metastore_db
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - lakehouse

  hive-metastore:
    build:
      context: hive-metastore
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - IS_RESUME=trues
      - SERVICE_NAME=metastore
      - DB_DRIVER=postgres
      - HIVE_CUSTOM_CONF_DIR=/hive_custom_conf

    ports:
      - "9083:9083"
    volumes:
      - ./hive-metastore/warehouse:/opt/hive/data/warehouse
      - ./hive-metastore/conf:/hive_custom_conf
    networks:
      - lakehouse

  trino:
    image: trinodb/trino:latest
    ports:
      - "8090:8080"
    volumes:
      - ./trino/etc:/etc/trino
    networks:
      - lakehouse

volumes:
  postgres-data:
    driver: local
  minio-data:
    driver: local

networks:
  lakehouse: